// global variables

// colours
$white: #faf9f9;
$lightBlue: #9cd3c8;
$darkBlue: #555b6e;
$yellow: #fbfcb0;
$pink: #ff8484;

// imported Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
$readexPro: 'Readex Pro', sans-serif;