@use "landing";
@use "variables";

* {
  background-color: variables.$white;
  color: variables.$darkBlue;
}

body {
  margin: 0;
  font-family: variables.$readexPro;
}

// global image styles
.circleImage {
  border-radius: 50%;
}