@use "variables";

// landing screen
.landing {
  padding: 5%;
  width: 90vw;
  height: 78vh;

  display: flex;
  justify-content: space-evenly;

  text-align: center;

  // headshot image
  img {
    background-color: inherit;
    margin: 5% 0%;
    padding: 0.5%;
    border: 2px dashed variables.$lightBlue;

    &:hover {
      border-style: solid;
    }
  }

  // text section
  #welcomeText {
    padding: 0;

    // hello
    h1 {
      margin-top: 30%;
      font-size: 2.2em;

      #name {
        color: variables.$pink;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px dashed variables.$lightBlue;

        &:hover {
          border-bottom-style: solid;
        }
      }

    }
  }
}